
.bannerSection{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    /* box-shadow: 0 1px 1px 1px white; */
    /* background: red !important; */
    width: 50%;
    background-size: 100%;
    background-position: 0% 0%;
  }

  .bannerSection * {
    color: black;
  }
.glassEffect{
    backdrop-filter: blur(10px);  
    background: rgba(255, 255, 255, 0.4);
    width: 100%; 
    border-radius: 15px;
    padding: 20px;
  }


  .link h3 {
    margin-bottom: 10px; 
    cursor : pointer; 
    position:relative;
    color: blue;
  }
  .link div {
    font-size : 13px;
    pointer-events: none; 
    position: absolute; 
    top: -30px
  }

  .info {
    display:flex;
    justify-content:space-between;
    align-items:center
  }

  .info div {
    display:flex;
    justify-content:space-between;
    align-items:center
  }