.songListContainer{
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex; 
    align-items:center;

}

.image{
    margin-right:15px; 
    border-radius:10px
}
.songListSecondA{
    /* color: black !important; */
}

.detailsContainer {
    display:flex;
    align-items:center;
    margin-top:10px
}
.timePosted {
    display:flex;
    align-items:center; 
    margin-right:10px
}
.noOfVotes {
    display:flex;
    align-items:center
}
.noOfVotes p {
    cursor:pointer;
}