.header {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   padding: 20px 10px;
}
.header img {
    width: 200px;
    height: 80px;
}
.header div {
}



.input {
    display: none;
}

.headerBtn {
    display:"flex";
    align-items:"center"; 
    padding-bottom:20px;
    padding: 10px;
}
.headerBtn button {
padding: 10px;
  cursor: pointer;
  font-size: 0.8em;
  background: rgb(6, 6, 146);
  margin-right: 10px;
  border-radius: 5px;
  transition: all;
  transition-timing-function: linear;
  transition-duration: .5s;
  border: 0;
}
.headerBtn button.activeButton {
    background: rgb(3, 3, 230);
}
.headerBtn button:hover {
    background: rgb(3, 3, 230);
} 

@media screen and (max-width: 316px) {
    .header{
      margin-bottom: 15px;
    }
    .header img{
      width: 100px;
    }
}